.expense-box {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    box-shadow: 0 15px 25pxrgba(0, 0, 0, .6);
    box-sizing: border-box;
    height: 628px;
    overflow: auto;
    padding: 0px 40px 40px;
    width: 800px;
    margin: auto;
    position: relative;
    display: block;
    transform: translateY(20%);
}

.expense-box h3 {
    border: 1px solid #03e9f4;
    color: #fff;
    margin: 0 0 45px;
    padding: 15px;
    text-align: center;
    background-color: black;
}

.expense-box .team-user-box {
    position: relative;
}

.expense-box .team-user-box input {
    margin-top: -10px;
    width: 55%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(49, 190, 246);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.expense-box .team-user-box label {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.expense-box .team-user-box input:focus~label,
.expense-box .team-user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 17px;
}

.expense-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.expense-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.expense-box a span {
    position: absolute;
    display: block;
}

.expense-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.expense-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.expense-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.expense-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

a.disabled {
    pointer-events: none;
    color: #ccc;
}

.memberName {
    position: relative;
    margin-bottom: 40px;
}

.memberField {
    float: left;
    width: 50%;
}

.memberLabel {
    float: left;
    width: 100%;
}

form {
    margin-left: 45px
}

.calculateButton {
    margin-left: 340px;
}

.resetButton {
    width: 600px;
    text-align: center;
}



.expensesHeader {
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 9999;
    padding-top: 40px;
}

@media only screen and (max-width: 600px) {
    .expense-box {
        width: 100%;
    }

    .calculateButton {
        margin-left: 0px;
    }

    .resetButton {
        width: 600px;
        text-align: left;
    }

    .expense-box {
        padding: 0px 31px 37px;
    }
}